package home

import "github.com/2group/2sales.core-service/templates/layout"

templ Index(name string) {
    @layout.Base() {
        <div class='text-red-500'>
            Hello {name}
        </div>
    }
}
